{% extends "squelette.html" %}
{% block content %}
  <h1>Bonjour!</h1>
  <p>Bienvenue sur l'interface web du profil rouge de Nicolas SCAËROU.</p>
  <p>Vous trouverez dans la barre de menu les éléments suivants:</p>
  <ul>
    <li>Interface swagger pour interagir avec l'API. Elle fournit tous les éléments nécessaires à un client pour connaître son mode de fonctionnement;</li>
<!--    <li>Formulaire de test;</li> -->
    <li>Le rapport du projet.</li>
  </li>
  <img src="{{ url_for('static', filename='img/logo_sio_v0.png') }}" height='300'/>
{% endblock %}
{% block footer %}
  {{super()}}
{% endblock %}
